@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP Consecionaria</h1>
    <p> <a>Bienvenido al sitio donde encontraras tu proximo auto...</a></p>
</div>

